<!doctype html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>DATAGIO</title>
</head>

<body>
    <header>
        <h1>DATAGIO ıllı </h1>
        <h3><em>Database of your precious users</em></h3>
        <a href="{% url 'admin:index' %}" class="admin_link">✐ Admin </a>
        <a href="{% url 'user_app:register' %}">Register</a>             <!-- def register in views.py -->


        <!--checks if user is loged or not-->
        {% if user.is_authenticated %}

            <a href="{% url 'logout' %}">Logour</a>

        {% else %}

        <a href="{% url 'user_app:user_login' %}">Login</a>
            <!--def user_login in views.py-->
        {% endif %}

    </header>


    {% block body_block %}


    {% endblock %}


</body>
</html>