{% extends 'user_app/base.html' %}

    <header>
        <h1>DATAGIO ıllı</h1>
        <h3><em>Database of your precious users</em></h3>
        <a href="{% url 'admin:index' %}" class="admin_link">✐ Admin </a>
    </header>


    <main>
        <section>
            <p>Welcome to DATAGIO. <br>
            Place, where you can see all your precious users on one place!</p>
            <br> <p> <em>Simple and straight forward!</em> </p>

        </section>
    </main>

    <button><a href="{% url 'user' %}">See my database</a></button>
