{% extends 'user_app/base.html' %}

{% block body_block %}
<main>
    <h2>Your DATAGIO database:</h2>

    <table>
        <thead>
            <tr>
                <th>Name:</th>
                <th>Email:</th>
                <th>ID:</th>
                <th>Options:</th>
            </tr>
        </thead>
        <tbody>
            {% for person in UserProfileInfo %}
            <tr>
                <td>{{ person.user.username }}</td>
                <td>{{ person.user.email }}</td>
                <td>{{ person.user_id }}</td>
                <td> <a class="btn btn-danger" href="{% url 'user_app:delete' pk=person.pk %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

<button ><a class="home_btn" href="{% url 'index' %}">Home⤊</a></button>
{% endblock %}
