<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    <title>User database</title>
</head>
<body>
    <header>
        <h1>DATAGIO ıllı </h1>
        <h3><em>Database of your precious users</em></h3>
    </header>

    <main>
        <h2>Your DATAGIO database:</h2>
        {% if users %}

        <table>

            <thead>
                <th>Name:</th>
                <th>Email:</th>
                <th>Age:</th>
                <th>ID:</th>

            </thead>
            {% for person in users %}
            <tbody>
                <tr>
                    <td>{{ person.user_name}}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.user_id }}</td>
                </tr>
            </tbody>
            {% endfor %}

        </table>
        {% endif %}

    </main>

    <button><a href="{% url 'index' %}">Home⤊</a></button>
    <span> <p></p></span>
</body>
</html></html>